/* CustomToggle.css */
.toggle-wrapper {
  position: relative;
  width: 140px;
  height: 70px;
  display: flex;
  align-items: center;
}

#custom_toggle_input {
  display: none;
}

.toggle-label {
  position: relative;
  display: block;
  width: 140px;
  height: 70px;
  cursor: pointer;
}

.toggle-label:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 54px;
  height: 54px;
  border: 3px solid #ff4d4d; /* Улаан тойрог */
  border-radius: 50px;
  box-sizing: border-box;
  transition: 0.5s ease all;
}

.toggle-label:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 140px;
  height: 70px;
  border: 3px solid #143240; /* Хар хүрээ */
  border-radius: 50px;
  box-sizing: border-box;
  transition: 0.5s ease all;
}

/* Checked state: Улаан тойрог нь томроод хар хүрээ болно */
#custom_toggle_input:checked + .toggle-label:before {
  top: 0;
  left: 0;
  width: 140px;
  height: 70px;
  border-color: #143240;
}

/* Checked state: Хар хүрээ нь жижигрээд улаан тойрог болно */
#custom_toggle_input:checked + .toggle-label:after {
  top: 8px;
  right: 8px;
  width: 54px;
  height: 54px;
  border-color: #ff4d4d;
}